<!DOCTYPE html>
<html>
<head>
    {include file="public/static" /}
</head>
<body>
<div class="main-wrap">
    <!--菜单-->
    {include file="public/menu" /}
    <!--菜单-->
    <div class="content-wrap">
        <!--头部-->
        {include file="public/header" /}
        <!--头部-->
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <!--开始::内容-->
                <section class="page-hd">
                    <header style="clearfix">
                        {include file="public/nav" /}
                        <a href="{:url('News/news')}">
                            <button class="btn btn-primary fr icon-undo">{$Think.lang.back}</button>
                        </a>
                        <!--<a onclick="window.history.back();"><button class="btn btn-primary fr">返回上层</button></a>-->
                    </header>
                    <hr>

                </section>

                <form id="form_data" enctype="multipart/form-data">
                    <div class="form-group-col-2">
                        <div class="form-label">标题：</div>
                        <div class="form-cont">
                            <input type="text" placeholder="" name="title" class="form-control form-boxed"
                                   style="width:300px;">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">短标题：</div>
                        <div class="form-cont">
                            <input type="text" placeholder="" name="short_title" class="form-control form-boxed"
                                   style="width:300px;">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">作者：</div>
                        <div class="form-cont">
                            <input type="text" placeholder="" name="author" class="form-control form-boxed"
                                   style="width:300px;">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">点击量：</div>
                        <div class="form-cont">
                            <input type="number" placeholder="" name="click_num" class="form-control form-boxed"
                                   style="width:300px;">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">资讯分类：</div>
                        <div class="form-cont">
                            <select style="width:auto;" name="news_type_id">
                                <option value="0">无分类</option>
                                {volist name="newsType" id = "v"}
                                <option value="{$v.id}" disabled>|--{$v.news_type_name}</option>
                                {if condition="$v['items']"}
                                    {volist name="v.items" id="vv"}
                                        <option value="{$vv.id}">&nbsp;&nbsp;&nbsp;&nbsp;|--{$vv.news_type_name}</option>
                                    {/volist}
                                {/if}
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">状态：</div>
                        <div class="form-cont">
                            <label class="radio">
                                <input type="radio" name="state" value="1" checked="checked"/>
                                <span>显示</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="state" value="0"/>
                                <span>隐藏</span>
                            </label>

                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">配图：</div>
                        <div class="form-cont">
                            <input type="file" name="filename" id="upload" class="form-control form-boxed"
                                   style="width:300px;">
                            <!--<button type="button" class="btn btn-primary" id="upload">上传</button>-->
                            <input type="hidden" name="news_img" id="news_img" value="">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">展示：</div>
                        <div class="form-cont">
                            <img src="" class="news_img" style="width:200px;height:200px;" alt="">
                        </div>
                    </div>
                    <script>
                        //图片上传
                        $('#upload').change(function () {
                            $.ajaxFileUpload({
                                url: "{:url('News/upload_img')}", //你处理上传文件的服务端
                                secureuri: false,
                                fileElementId: 'upload',//与页面处理代码中file相对应的ID值
                                type: "post",
                                processData: false,
                                contentType: false,
                                dataType: 'json', //返回数据类型:看后端返回的是什么数据,在IE下后端要设置请求头的Content-Type:text/html; charset=UTF-8
                                success: function (data) {
                                    if (data.status == 200) {
                                        layer.msg(data.tips);
                                        $('#news_img').val(data.url);
                                        $('.news_img').attr('src','__UPLOAD__/'+data.url);
                                    } else {
                                        layer.msg(data.tips);
                                    }
                                },
                                error: function (data, status, e) { //提交失败自动执行的处理函数
                                    layer.msg(e);
                                }
                            })
                        });
                    </script>

                    <div class="form-group-col-2">
                        <div class="form-label">时间：</div>
                        <div class="form-cont">
                            <input type="text" readonly id="create_time"  name="create_time" class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>
                    <script type="text/javascript">
                        jeDate("#create_time",{
                            format: "YYYY-MM-DD",
                            isinitVal: true
                        });
                    </script>

                    <div class="form-group-col-2">
                        <div class="form-label">短内容：</div>
                        <div class="form-cont">
                            <textarea name="short_content" id="" cols="30" rows="4" style="width:1200px;"></textarea>

                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">资讯内容：</div>
                        <div class="form-cont">
                            <!-- 加载编辑器的容器 -->
                            <script id="content" name="content" type="text/plain"></script>

                        </div>
                    </div>
                    <script>
                        var ue = UE.getEditor('content', {
                            /*toolbars: [
                                ['fullscreen', 'source', 'undo', 'redo', 'bold']
                            ],*/
                            initialFrameWidth :1200,//初始化编辑器宽度，默认1000
                            initialFrameHeight :400,//初始化编辑器高度，默认320
                            autoHeightEnabled: true,//是否自动长高，默认true
                            autoFloatEnabled: true,//是否保持toolbar的位置不动，默认true
                        });
                    </script>

                    <div class="form-group-col-2">
                        <div class="form-label"></div>
                        <div class="form-cont">
                            <input type="button" onclick="ajax_submit()" class="btn btn-primary" value="提交表单"/>
                            <!--<input type="reset" class="btn btn-disabled" value="禁止" />-->
                        </div>
                    </div>
                </form>
                <!--开始::结束-->
            </div>
        </main>
        <!--底部-->
        {include file="public/footer" /}
        <!--底部-->
    </div>
</div>
<script>
    function ajax_submit() {

        var form_data = $('#form_data').serializeArray();
        /*if(form_data[0].value == ''){
         layer.msg('请上传图片');
         return false;
         }*/
        $.post('{:url("News/add_news_do")}', form_data, function (data) {
            if (data.status == 200) {
                layer.msg(data.tips);
                setTimeout("location.reload();", 500);
            } else {
                layer.msg(data.tips);
            }
        })
    }

</script>
</body>
</html>
