<!DOCTYPE html>
<html>
<head>
    {include file="public/static" /}
</head>
<body>
<div class="main-wrap">
    <!--菜单-->
    {include file="public/menu" /}
    <!--菜单-->
    <div class="content-wrap">
        <!--头部-->
        {include file="public/header" /}
        <!--头部-->
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <!--开始::内容-->
                <section class="page-hd">
                    <header style="clearfix">
                        {include file="public/nav" /}
                        <a href="{:url('Auth/group_index')}"><button class="btn btn-primary fr icon-undo">{$Think.lang.back}</button></a>
                        <!--<a onclick="window.history.back();"><button class="btn btn-primary fr">返回上层</button></a>-->
                    </header>
                    <hr>

                </section>
                <form id="form_data">
                    <input type="hidden" name="id" value="{$group.id}">
                    <div class="form-group-col-2">
                        <div class="form-label">权限组名称：</div>
                        <div class="form-cont">
                            <input type="text" placeholder="例：管理员、经理" id="title" name="title" value="{$group.title}" class="form-control form-boxed" style="width:300px;">
                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <div class="form-label">状态：</div>
                        <div class="form-cont">
                            <label class="radio">
                                <input type="radio" name="status" value="1" {eq name="1" value="$group.status"}checked{/eq}  />
                                <span>正常</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="status" value="0" {eq name="0" value="$group.status"}checked{/eq} />
                                <span>禁用</span>
                            </label>

                        </div>
                    </div>

                    <div class="form-group-col-2">
                        <table class=" mb-15" style="line-height: 40px">
                            <thead>
                            </thead>
                            <tbody>
                            {volist name="info" id="v" key="k"}
                            <tr class="cen">
                                <td  class="lt">
                                    <input type="checkbox" class="xunz_box" data-id="{$k}" data-select="0" />
                                    {$v.title}：&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                </td>
                                {if condition="$v['items']"}
                                    {volist name="v.items" id="vv"}
                                        <td  class="lt">
                                            <input type="checkbox" class="input_box" data-id="{$k}" name="rules[]" value="{$vv.id}"
                                            {php}
                                                if (in_array($vv['id'],$str)){
                                                    echo " checked ";
                                                }
                                            {/php}
                                            />
                                            {$vv.title}&nbsp;&nbsp;
                                        </td>
                                    {/volist}
                                {/if}
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <br>
                    <div class="form-group-col-2">
                        <div class="form-label"></div>
                        <div class="form-cont">
                            <input type="button" onclick="ajax_submit()" class="btn btn-primary" value="提交表单" />
                            <!--<input type="reset" class="btn btn-disabled" value="禁止" />-->
                        </div>
                    </div>
                </form>

                <!--开始::结束-->
            </div>
        </main>
        <!--底部-->
        {include file="public/footer" /}
        <!--底部-->
    </div>
</div>
<script>
    function ajax_submit() {

        var form_data = $('#form_data').serializeArray();
//        console.log(form_data);
        if(form_data[0].value == ""){
            layer.msg('名称不能为空');
            return false;
        }
        $.post('{:url("Auth/editor_group_do")}', form_data, function (data) {
//            console.log(data);
            if (data.status == 200) {
                layer.msg(data.tips);
                setTimeout("location.reload();",500);
            } else if(data.status == 400) {
                layer.msg(data.tips);
            } else if(data.status == 600) {
                layer.msg(data.tips);
            } else if(data.status == 800) {
                layer.msg(data.tips);
            }
        })
        //console.log(a);
    }
</script>
<script>
    $('.xunz_box').click(function () {
        var select = $(this).data('id');
        var ifSelect = parseInt($(this).data('select'));
        if(!ifSelect){
            $(this).parents('tr').find('.input_box').prop('checked',true);
            $(this).parents('tr').find('.input_box').parent().addClass('checked');
            $(this).data('select',1)
        }
        else {
            $(this).parents('tr').find('.input_box').prop('checked',false);
            $(this).parents('tr').find('.input_box').parent().removeClass('checked');
            $(this).data('select',0)
        }
    });
</script>
</body>
</html>
